.header {
    -unity-font-definition: url("project://database/Assets/UI%20Toolkit/UnityThemes/UnityDefaultRuntimeTheme.tss?fileID=2230732570650464555&guid=02f85a48e8f664a4092c8e0e2b9e27c0&type=3#NotInter-Regular");
}
